*.iml
.gradle
/.idea
/.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/caches
.idea/misc.xml

# Ant
bin
gen
build.xml
ant.properties
local.properties

# OSX Noise
.DS_Store
tmp

# IntelliJ idea
out
.idea
*.iml
*.ipr
*.iws
classes
captures

# Gradle
build
.gradle

# Maven
target
release.properties
pom.xml.*
